.car-details .action-btn {
  text-align: center;
}

.options-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media(min-width: 992px) {
  .options-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}