@font-face {
    font-family: RokuRegular;
    src: url(Roku-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: RokuRegular, sans-serif;
    font-weight: normal;
}

header {
    height: 130px;
    width: 100%;
    background-color: #0a3576;
}

footer {
    height: 150px;
    width: 100%;
    background-color: #0a3576;
}

.gauto-find-box-area {
    width: 100%;
    background-color: #0d47a1;
    position: relative;
}

.find-box {
    width: 50%;
    height: 600px;
    background-color: #4d841d;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.find-box-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 2;
}

.promo-video-wide {
    width: 100%;
    position: relative;
    z-index: 1;
}

.promo-video-narrow {
    width: 100%;
    position: relative;
    z-index: 1;
}

@media (max-width: 991px) {
    .promo-video-wide {
        display: none;
    }

    .gauto-find-box-area {
        height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .promo-video-narrow {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
    }
}
