/* ===================== HERO ======================*/
.gauto-slider-area {
  position: relative;
}

.gauto-main-slide {
  background-color: #eee;
  background-position: center center;
  background-size: cover;
  height: 640px;
}

.slider-content-holder {
  width: 100%;
  text-align: center;
}



.gauto-main-caption {
  display: table;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.58) none repeat scroll 0 0;
}

.gauto-caption-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
