.pages.section_70 {
  padding-top: 10px;
}

.pages h3 {
  color: $color-orange;
  margin: 20px 0;
}

.pages .block-text {
  font-size: 16px;
  line-height: 1.8;
  margin-top: 20px;
}

.pages ul {
  display: grid;
  row-gap: 20px;
}